{% extends "base.html" %}
{% load static %}

{% block extra_title %} Bloomella Home Page {% endblock %}


{% block content %}

<!-- Landing Page -->

<div class="container mx-auto" id="landing-page">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 my-auto text-center">
            <h1 class="display-2">Bloomella</h1>
            <p>Where every bloom tells a story<br>Odessa's premier flower delivery service</p>
            <div class="my-5">
                <span>
                    <a href="{% url 'products' %}"
                        class="shop-now-button btn btn-outline-success text-uppercase btn-sm py-2 px-4">Shop
                        Now</a>
                    <a href="#about" class="shop-now-button btn btn-outline-success text-uppercase py-2 px-4">Learn
                        More</a>
                </span>
            </div>
        </div>
        <div class="col-md-6 my-auto">
            <div id="imageCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#imageCarousel" data-slide-to="1"></li>
                    <li data-target="#imageCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <video class="d-block w-100" playsinline autoplay loop muted>
                            <source src="{% static 'video/bloomella.flowers.mp4' %}" class="d-block w-100"
                                type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="carousel-item">
                        <video class="d-block w-100" playsinline autoplay loop muted>
                            <source src="{% static 'video/bloomellaflowers.mp4' %}" class="d-block w-100"
                                type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="carousel-item">
                        <video class="d-block w-100" playsinline autoplay loop muted>
                            <source src="{% static 'video/bloomella,flowers.mp4' %}" class="d-block w-100"
                                type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#imageCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#imageCarousel" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="arrow-down-container d-none d-md-block">
    <div class="arrow-down" data-target-section="store-section">
        <i class="fas fa-chevron-down fa-sm fa-bounce"></i>
    </div>
</div>

<!-- What We Offer Section -->

<div class="container text-container" id="store-section">
    <h1 class="heading">What's in Store for You</h1>
</div>

<main class="main flow">
    <div class="main__flower-cards flower-cards">
        <div class="flower-cards__inner text-center">
            <div class="flower-cards__flower-card flower-card">
                <i class="fas fa-leaf fa-2x"></i>
                <h2 class="flower-card__heading">Fresh Flowers Daily</h2>
                <p class="flower-card__bullets">We offer fresh flowers daily, carefully selected and arranged just for
                    you.
                    Order from us today and let us help you delivery the perfect arrangement!</p>
            </div>

            <div class="flower-cards__flower-card flower-card">
                <i class="fas fa-truck fa-2x"></i>
                <h2 class="flower-card__heading">Quick Delivery</h2>
                <span class="flower-card__price">Free delivery on orders over €{{ free_delivery_threshold }}!</span>
                <p class="flower-card__bullets">We offer fast and reliable delivery options to get your flowers to their
                    destination on time.</p>
            </div>

            <div class="flower-cards__flower-card flower-card">
                <i class="fas fa-gift fa-2x"></i>
                <h2 class="flower-card__heading">Gifts for Special Occasions</h2>
                <p class="flower-card__bullets">Whether you're celebrating a birthday, or any special occasion, we've
                    got the ideal gift to make it truly memorable. Send flowers and make a lasting impression.</p>
            </div>

            <div class="flower-cards__flower-card flower-card">
                <i class="fas fa-thumbs-up fa-2x"></i>
                <h2 class="flower-card__heading">Quality Assurance</h2>
                <p class="flower-card__bullets">We take pride in the quality of our flowers and arrangements. Our team
                    ensures that every order meets our high standards of freshness and beauty.</p>
            </div>

            <div class="flower-cards__flower-card flower-card">
                <i class="fas fa-mobile fa-2x"></i>
                <h2 class="flower-card__heading">Excellent Customer Service</h2>
                <p class="flower-card__bullets">Our friendly and knowledgeable team is always here to help you with any
                    questions or concerns you may have. We're dedicated to providing you with the best possible
                    experience.</p>
            </div>

            <div class="flower-cards__flower-card flower-card">
                <i class="fas fa-heart fa-2x"></i>
                <h2 class="flower-card__heading">Passion for Flowers</h2>
                <p class="flower-card__bullets">Flowers are our passion, and we love sharing that passion with our
                    customers. We believe that flowers have the power to brighten any day and bring joy to any occasion.
                </p>
            </div>
        </div>

        <div class="overlay flower-cards__inner"></div>
    </div>
</main>


<div class="container">

    <div class="scroller" data-speed="slow">
        <ul class="tag-list scroller__inner list-unstyled">
            <li>Bouquets</li>
            <li>Arrangements</li>
            <li>Roses</li>
            <li>Tulips</li>
            <li>Wedding Flowers</li>
            <li>Floral Design</li>
            <li>Seasonal Flowers</li>
            <li>Blossoms</li>
            <li>Petals</li>
            <li>Flower Delivery</li>
            <li>Chrysanthemums</li>
            <li>Odessa Flowers</li>
        </ul>
    </div>

    <div class="scroller" data-direction="right" data-speed="slow">
        <div class="scroller__inner">
            <img src="{% static 'images/beautiful-flowers-blomella.avif' %}" width="150"
                alt="beautiful-flowers-blomella">
            <img src="{% static 'images/bouquets-bloomella-odessa.avif' %}" width="150" alt="bouquets-bloomella-odessa">
            <img src="{% static 'images/flower-box-bloomella.avif' %}" width="150" alt="flower-box-bloomella">
            <img src="{% static 'images/flowers-blomella-ukraine.avif' %}" width="150" alt="flowers-blomella-ukraine">
            <img src="{% static 'images/flowers-delivery-ukraine-blomella.avif' %}" width="150"
                alt="flowers-delivery-ukraine-blomella">
            <img src="{% static 'images/fresh-flowers-bloomella.avif' %}" width="150" alt="fresh-flowers-bloomella">
            <img src="{% static 'images/long-roses-blomella.avif' %}" width="150" alt="long-roses-blomella">
            <img src="{% static 'images/mixed-flowers-bloomella.avif' %}" width="150" alt="mixed-flowers-bloomella">
            <img src="{% static 'images/redroses-bloomella-flowers.avif' %}" width="150"
                alt="redroses-bloomella-flowers">
            <img src="{% static 'images/tulips-bloomella-ukraine.avif' %}" width="150" alt="tulips-bloomella-ukraine">
            <img src="{% static 'images/whiteroses-bloomella.avif' %}" width="150" alt="whiteroses-bloomella">
            <img src="{% static 'images/roses-ukraine-blomella.avif' %}" width="150" alt="roses-ukraine-blomella">
        </div>
    </div>
</div>


<!-- Quick Pick -->

<section class="py-3 my-3">
    <div class="container-fluid">
        <h2 class="text-center mb-5 heading">Quick Pick</h2>
        <div class="ml-auto text-center">
            {% for category in all_categories %}
            <a class="text-muted small m-2 category-pick" href="{% url 'products' %}?category={{ category.name }}">
                {{ category.friendly_name }}</a>
            {% endfor %}
        </div>
        <div class="product-container col-10 offset-1 mb-3">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-5 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ product.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted"
                                            href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}

                                    {% if product.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                                        5</small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <br>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <br>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <br>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <br>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Our Story container -->

<div class="container py-3 my-3" id="about">
    <h2 class="text-center mb-5 heading">Our Story</h2>
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="{% static 'images/flower.avif' %}" alt="green flower" class="img-fluid rounded mb-4">
        </div>
        <div class="col-md-6">
            <p class="quick-pick">Bloomella is a family-owned flower shop in Odessa Ukraine that has been serving the
                local community for
                over
                30 years. Our passion for flowers and dedication to providing the highest quality products and services
                have allowed us to establish a loyal customer base.</p>
            <p class="quick-pick">We believe that every flower has a story to tell, and we strive to create unique
                arrangements that
                capture the essence of each customer's vision. Whether you're celebrating a special occasion or just
                want to brighten someone's day, our experienced florists are here to help you find the perfect flowers
                for any occasion.</p>
            <p class="quick-pick">Thank you for choosing Bloomella. We look forward to sharing our love of flowers with
                you.</p>
        </div>
    </div>
</div>

<!-- Testimonials container -->

<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center mb-5 heading">Testimonials</h2>
                {% if request.user.is_authenticated %}
                <p class="text-center"><a class="btn btn-sm btn-outline-success" href="{% url 'add_testimonial' %}">Add
                        Testimonial</a></p>
                {% endif %}
                <div class="testimonial-list">
                    {% for testimonial in testimonials %}
                    <div class="testimonial">
                        <p class="testimonial-author">{{ testimonial.name }}
                        </p>
                        <p class="small text-muted">{{ testimonial.created_at|date:"F j, Y" }}</p>
                        <p class="testimonial-message">{{ testimonial.message }}</p>
                    </div>
                    {% empty %}
                    <div class="testimonial">
                        <p class="testimonial-message">No testimonials yet.</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mailchimp subscribe form -->

<div class="container mt-2">
    <div>
        <div class="text-center mt-3 mb-5 heading">Stay in the Loop</div>
    </div>
    <div id="mc_embed_signup" class="mailchimp">
        <form
            action="https://herokuapp.us9.list-manage.com/subscribe/post?u=f287a8cd8b7a95cb3fdef82b8&amp;id=9f3b075d89&amp;f_id=00f618e1f0"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate w-100"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group">
                    <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                    </label>
                    <input type="email" value="" name="EMAIL" class="required email w-25" id="mce-EMAIL" required>
                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                </div>
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div hidden aria-hidden="true"><input type="text" name="b_f287a8cd8b7a95cb3fdef82b8_9f3b075d89"
                        tabindex="-1" value=""></div>
                <div class="optionalParent">
                    <div class="clear foot mr-auto">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                            class="button">
                        <p class="brandingLogo"><a href="http://eepurl.com/iodaW-"
                                title="Mailchimp - email marketing made easy and fun"></a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Cookie Consent Popup -->
<div id="cookie-popup" class="cookie-popup">
    <p>This website uses cookies to ensure you get the best experience on our website. <a
            href="https://www.privacypolicygenerator.info/live.php?token=goQHI2oDinSM80yTGCRckaiS307S3dKy">Learn more</a></p>
    <button type="button" id="accept-cookies" class=" btn btn-outline-success">Got it!</button>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Check if the user has already accepted cookies
        if (!localStorage.getItem("cookieAccepted")) {
            // If not, show the cookie consent popup
            document.getElementById("cookie-popup").style.display = "block";
        }

        // Add event listener for the "Got it!" button
        document.getElementById("accept-cookies").addEventListener("click", function () {
            // Hide the cookie popup
            document.getElementById("cookie-popup").style.display = "none";

            // Set a flag in localStorage to remember that the user accepted cookies
            localStorage.setItem("cookieAccepted", true);
        });
    });

</script>

<script>
    const scrollers = document.querySelectorAll(".scroller");

    // If a user hasn't opted in for recuded motion, then we add the animation
    if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
        addAnimation();
    }

    function addAnimation() {
        scrollers.forEach((scroller) => {
            // add data-animated="true" to every `.scroller` on the page
            scroller.setAttribute("data-animated", true);

            // Make an array from the elements within `.scroller-inner`
            const scrollerInner = scroller.querySelector(".scroller__inner");
            const scrollerContent = Array.from(scrollerInner.children);

            // For each item in the array, clone it
            // add aria-hidden to it
            // add it into the `.scroller-inner`
            scrollerContent.forEach((item) => {
                const duplicatedItem = item.cloneNode(true);
                duplicatedItem.setAttribute("aria-hidden", true);
                scrollerInner.appendChild(duplicatedItem);
            });
        });
    }
</script>

<script>
    const arrowDown = document.querySelector('.arrow-down');

    function scrollToSection(top) {
        window.scrollTo({
            top: top,
            behavior: 'smooth'
        });
    }

    arrowDown.addEventListener('click', (event) => {
        event.preventDefault();
        const targetSectionId = arrowDown.getAttribute('data-target-section');
        const targetSection = document.getElementById(targetSectionId);
        scrollToSection(targetSection.offsetTop);
    });
</script>


{% endblock %}