{% extends "base.html" %}
{% load static %}

{% block extra_title %} Delete Account {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h2 class="mb-4 text-center">Delete Profile</h2>
            <br>
            <p>Are you sure you want to delete your profile? This action cannot be undone.</p>
            <form method="POST">
                {% csrf_token %}
                <span><a href="{% url 'profile' %}" class="btn btn-outline-success">Go Back</a></span>
                <button type="submit" class="btn btn-danger">Yes, delete my profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}