{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h2 class="mb-4 text-center">My Profile</h2>
            <br>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-lg-6">
            <p class="text-black">Default Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-success mb-4">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-black">Oder History</p>
            {{ orders }}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}