#profile-update-form input::placeholder {
    color: #aab7c4;
}

.text-black {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
    background-color: #fff;
    color: #333;
}

.form-control {
    box-shadow: 0 1px 3px 0 #e6ebf1;
    transition: transform 0.3s ease-in-out;
}

.form-control:hover {
    transform: scale(1.01);
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #aab7c4;;
}

#id_default_country option:first-child {
    color: #000;;
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
}