/*------------ Universal selector */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}

html {
    scroll-behavior: smooth;
}

/*------------ Landing page / index.html */

#landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#landing-page .row {
    max-width: 1200px;
}

#landing-page .col-md-6 {
    padding: 0 30px;
}

#landing-page img {
    max-width: 100%;
    height: auto;
}

/*------------ Separator line / index.html */

.separator {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 50px 0;
}

.separator::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    border-top: 3px solid black;
    border-radius: 50%;
    height: 50px;
}

/*--Separator line second / index.html */
.separator-second {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 50px 0;
}

.separator-second::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    border-top: 3px solid black;
    border-radius: 50%;
    height: 50px;
    transform: rotate(180deg);
}

/*------------ Our Team section images / index.html */
.team-member img {
    width: 100px;
    height: 100px;
}

/*------------ Footer / base.html */

.footer a {
    color: #000;
    transition: all 0.2s ease-in-out;
}

.footer a:hover {
    transform: scale(1.2);
    text-decoration: none;
    color: #28a745;
}

/*------------ Header / base.html */

header {
    background-color: #fff;
    box-shadow: 0px 1px 1px #28a745;
    padding: 10px;
    border-radius: 25px;

}

header button[type="submit"] {
    height: 40px;
    border: none;
    border-radius: 1px;
    box-shadow: none;

}

header ul {
    list-style: none;
    margin: 0;
}

header .dropdown-menu {
    border-radius: 0;
    margin-right: 50px;
}

a.nav-link.main-logo-link {
    width: max-content;
}

/*------------ Sticky header / base.html */
.sticky-top {
    transition: top 0.9s;
}

.sticky-top.hidden {
    top: -200px;
}

/*------------ Products container/ products.html */

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 100%;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-footer {
    padding: 20px;
}

.card-footer p {
    font-weight: 700;
    color: #333;
}

/*------------ Highlights the active sorting btn */
.dropdown-item.selected{
    font-weight: bold;
    background-color: #28a7461c;
}

/*------------ Keyframe css animation / index.html */

.fa-leaf:hover,
.fa-truck:hover,
.fa-gift:hover {
    animation: bounce 0.5s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}

/*------------ Media query / nav-logo / base.html */
/* For screens smaller than 768px (mobile and tablet) */
@media (max-width: 767px) {
    a.nav-link.main-logo-link {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #landing-page {
        height: 70vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #landing-page {
        height: 50vh;
    }

    a.nav-link.main-logo-link {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}