/*------------ Landing page / index.html */

#landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#landing-page .row {
    max-width: 1200px;
}

#landing-page .col-md-6 {
    padding: 0 30px;
}

#landing-page img {
    max-width: 100%;
    height: auto;
}

/*------------ Separator line / index.html */

.separator {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 50px 0;
}

.separator::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    border-top: 3px solid black;
    border-radius: 50%;
    height: 50px;
}

/*--Separator line second / index.html */
.separator-second {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 50px 0;
}

.separator-second::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    border-top: 3px solid black;
    border-radius: 50%;
    height: 50px;
    transform: rotate(180deg);
}

/*------------ Our Team section images / index.html */
.team-member img {
    width: 100px;
    height: 100px;
}

/*------------ Footer / base.html */
footer {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}