/*------------ Universal selector */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #28a745;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.5s ease-in-out
}

a:hover {
    color: #000000;
    text-decoration: none;
}

/*------------ Landing page / index.html */

#landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#landing-page .row {
    max-width: 1200px;
}

#landing-page .col-md-6 {
    padding: 0 30px;
}

#landing-page img {
    max-width: 100%;
    height: auto;
}

/*------------ Separator line / index.html */

.separator {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 50px 0;
}

.separator::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.294);
    border-radius: 50%;
    height: 50px;
}

/*--Separator line second / index.html */
.separator-second {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 50px 0;
}

.separator-second::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.294);
    border-radius: 50%;
    height: 50px;
    transform: rotate(180deg);
}

/*------------ Our Team section images / index.html */
.team-member img {
    width: 100px;
    height: 100px;
}

/*------------ Footer / base.html */

.footer a {
    color: #000;
    transition: all 0.2s ease-in-out;
}

.footer a:hover {
    transform: scale(1.2);
    text-decoration: none;
    color: #28a745;
}

/*------------ Hover for some btn */
#hover:hover {
    transform: scale(1.1);
    color: #28a745;
}

/*------------ Header / base.html */

header {
    background-color: #fff;
}

header button[type="submit"] {
    height: 40px;
    border: none;
    border-radius: 1px;
    box-shadow: none;

}

header ul {
    list-style: none;
    margin: 0;
}

header .dropdown-menu {
    border-radius: 0;
    margin: auto;
}

a.nav-link.main-logo-link {
    width: max-content;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
}


.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

/*------------ Sticky header / base.html */
.sticky-top {
    transition: top 0.9s;
}

.sticky-top.hidden {
    top: -200px;
}

/*------------ Products container/ products.html */

.card {
    width: 100%;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-footer {
    padding: 20px;
}

.card-footer p {
    font-weight: 700;
    color: #333;
}

/*------------ Highlights the active sorting btn */
.dropdown-item.selected {
    font-weight: bold;
    background-color: #28a7461c;
}

/*------------ Scroll btn to the top */
.btn-scroll {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
}

.btn-scroll:hover {
    text-decoration: none;
}

/*------------ Quantity input fields / product_detail.html */
.btn-outline-dark {
    border-color: #343a40;
    border: 1px solid #ced4da;
}

/*------------ Update % remove links / bag.html */
.update-link,
.remove-item {
    cursor: pointer;
}

/*------------ Message container / bag.html */

.message-container {
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*------------ Allauth forms */

.allauth-form-inner-content {
    padding-bottom: 3rem;
}

.allauth-form-inner-content>form {
    margin: 0;
    padding: 1rem;
    border: 1px solid #e6e6e633;
    border-radius: 0.5rem;
    transition: transform 0.3s ease-in-out;
}

.allauth-form-inner-content>form:hover {
    transform: scale(1.01);
}

/* Hide the checkbox */
.checkboxinput:checked {
    opacity: 0;
}

/* Show the tick when the checkbox is checked */
.checkboxinput:checked+.form-check-label::before {
    content: "\2713";
    display: inline-block;
    margin-left: -15px;
    font-size: 1.2em;
    color: #28a745;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Hide the checkbox */
.custom-checkbox .custom-control-input:checked {
    opacity: 0;
}

.custom-checkbox .custom-control-label::before {
    border-color: #343a40;
    width: 14px;
    height: 14px;
}

/* Show the tick when the checkbox is checked */
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    content: "\2713";
    display: inline-block;
    font-size: 1.2em;
    color: #28a745;
    background: none;
    border: none;
    width: 14px;
    height: 14px;
}

/* Testimonial section  */

.testimonial-section {
    background-color: #fff;
    padding: 50px 0;
}

.testimonial-list {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-top: 10px;
    padding-bottom: 10px;
}

.testimonial {
    flex: 0 0 auto;
    width: 350px;
    margin: 0 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.051);
    text-align: center;
}

.testimonial-author {
    font-weight: bold;
    margin-bottom: 2px;
}

.testimonial-message {
    margin-bottom: 0;
}

.testimonial-users {
    flex: 0 0 auto;
    margin: 0 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(102, 102, 102, 0.06);
    text-align: center;

}

.testimonial-list {
    height: 300px;
    overflow-y: scroll;
}

/* Custom btn style */

.btn {
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 12px;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 16px 0px rgba(102, 102, 102, 0.06);
}

.btn:hover {
    background-color: #ffffff;
    color: black;
    box-shadow: 1px 8px 16px 1px rgba(183, 182, 182, 0.496);
}

/*------------ Mailchimp */
#mc_embed_signup {
    background: #fff;

    font: 14px Helvetica, Arial, sans-serif;

}

#mc_embed_signup .button {
    background-color: white !important;
    color: black !important;
    font-size: 12px !important;
    transition-duration: 0.4s !important;
    box-shadow: 0px 8px 16px 0px rgba(102, 102, 102, 0.06) !important;
    margin-top: 0%;
    justify-content: center;
}

#mc_embed_signup .button:hover {
    background-color: #ffffff !important;
    color: black !important;
    box-shadow: 1px 8px 16px 1px rgba(183, 182, 182, 0.496) !important;
}

#mc_embed_signup input {
    border: 1px solid rgba(0, 0, 0, 0.051) !important;
}

#mc_embed_signup .indicates-required {
    text-align: left !important;
    font-size: 11px;
    margin-right: 4%;
}

/*------------ Keyframe css animation / index.html */

.fa-leaf:hover,
.fa-truck:hover,
.fa-gift:hover {
    animation: bounce 0.5s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}

/*------------ Media query / nav-logo / base.html */
/* For screens smaller than 768px (mobile and tablet) */
@media (max-width: 767px) {
    a.nav-link.main-logo-link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    #landing-page {
        height: 70vh;
    }


    .nav-link:focus {
        outline: none;

    }

    .account-link,
    .nav-item {
        padding-left: 18px;

    }

    .account-link {
        size: 15px;
    }

    .text-dark.nav-link.btn-lg {
        size: 16px;
    }

    .update-link,
    .remove-item {
        display: flex;
        padding-right: 30px;
        justify-content: center;
        margin-top: 10px;
        padding-left: 30px;
    }

    .update-link {
        margin-top: -5px;
    }

    .img-fluid {
        margin-top: 1rem;
    }

    .table td,
    .table th {
        padding: 0.2rem;
    }

    .table th {
        text-align: center;
    }

    .toast {
        position: fixed;
        top: 65px;
        width: 100vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}



@media screen and (min-width: 768px) and (max-width: 1023px) {

    a.nav-link.main-logo-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-link:focus {
        outline: none;

    }

    .account-link,
    .nav-item {
        padding-left: 18px;

    }

    .account-link {
        size: 15px;
    }

    .text-dark.nav-link.btn-lg {
        size: 16px;
    }


    .nav-link:focus {
        outline: none;

    }

    #landing-page {
        height: 70vh;
    }
}

@media (min-width: 992px) {
    .navbar-nav {
        display: flex;
        flex-grow: 1;
    }

    .navbar-nav>li {
        float: none;
    }

    .nav-link:focus {
        outline: none;

    }
}