{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="col">
            <h1 class="display-4 text-black text-center mt-4">
                Server Error (505)
                <i class="fa-solid fa-wifi-slash"></i>
            </h1>
            <div class="my-5 text-center">
                <p>Sorry, an internal server error occurred while processing your request.</p>
                <p>Please try again later, or contact the site administrator if the problem persists.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}