{% extends "base.html" %}
{% load static %}

{% block extra_title %} Frequently Asked Questions {% endblock %}


{% block content %}

<div class="container">
    <br>
    <h2 class="text-center">Frequently Asked Questions</h2>
    <br>

    <div class="accordion" id="accordionExample">
        <div>
            <div class="py-1" id="headingOne">
                <div class="mb-0 text-left">
                    <button class="btn btn-link text-decoration-none" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="h6">Order Placement</span>
                    </button>
                </div>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    You can place orders through our website at any time of the day. Note: Orders will be processed
                    during the working hours 09:00 - 20:00 UTC time zone.
                    <br>Orders are processed upon receipt, and confirmation will be sent to the provided contact
                    information.
                </div>
            </div>
        </div>

        <div class="py-1" id="headingTwo">
            <div class="mb-0 text-left">
                <button class="btn btn-link text-decoration-none" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="h6">Payment</span>
                </button>
            </div>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                We accept Stripe.
                <br>
                Payment is required at the time of order placement.

            </div>
        </div>

        <div class="py-1" id="headingThree">
            <div class="mb-0 text-left">
                <button class="btn btn-link text-decoration-none" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span class="h6">Product Availability</span>
                </button>
            </div>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                All products displayed are subject to availability.
                <br>
                If a particular type of flower becomes unavailable, we will make every effort to substitute it with the
                most similar and comparable flowers available.
            </div>
        </div>

        <div class="py-1" id="headingFour">
            <div class="mb-0 text-left">
                <button class="btn btn-link text-decoration-none" type="button" data-toggle="collapse"
                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <span class="h6">Cancellation</span>
                </button>
            </div>
        </div>

        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
                Orders can be canceled within 35min after placement.
                <br>
                Contact <a href="{% url 'support_ticket' %}">support ticket</a> for cancellation requests.
            </div>
        </div>

        <div class="py-1" id="headingFive">
            <div class="mb-0 text-left">
                <button class="btn btn-link text-decoration-none" type="button" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <span class="h6">Delivery Time</span>
                </button>
            </div>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
                Generally, delivery takes approximately 1-2 hours, depending on the recipient's availability.
                <br>
                Delays may occur due to unforeseen circumstances.
            </div>
        </div>

        <div class="py-1" id="headingSix">
            <div class="mb-0 text-left">
                <button class="btn btn-link text-decoration-none" type="button" data-toggle="collapse"
                    data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <span class="h6">Delivery Charges</span>
                </button>
            </div>
        </div>

        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body">
                Delivery charges apply and are outlined during the checkout process.
                <br>
                Free delivery may be available for orders exceeding $100.
            </div>
        </div>

        <div class="py-1" id="headingSeven">
            <div class="mb-0 text-left">
                <button class="btn btn-link text-decoration-none" type="button" data-toggle="collapse"
                    data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <span class="h6">Receiving Orders</span>
                </button>
            </div>
        </div>

        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
            <div class="card-body">
                Ensure someone is available to receive the order at the provided delivery address.
                <br>
                Delivery personnel will attempt to contact recipients before delivery.
            </div>
        </div>

        <div class="py-1" id="headingEight">
            <div class="mb-0 text-left">
                <button class="btn btn-link text-decoration-none" type="button" data-toggle="collapse"
                    data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    <span class="h6">Returns</span>
                </button>
            </div>
        </div>

        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
            <div class="card-body">
                We do not accept returns for our products. All sales are final. If you receive damaged flowers, please
                contact
                <a href="{% url 'support_ticket' %}">customer support</a> for assistance. Thank you for your
                understanding.
            </div>
        </div>


    </div>
</div>
{% endblock %}