{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Display for current category -->
<div class="container-fluid sorting-button mt-3">
    <div class="row">
        <div class="col justify-content-center">
            {% for c in current_categories %}
            <a class="btn btn-sm btn-outline-success" href="{% url 'products' %}?category={{ c.name }}">
                {{ c.friendly_name }}
            </a>
            {% endfor %}
        </div>
        <!-- Suggested category  -->
        <div class="col text-center">
            {% if random_category %}
            <p class="text-dark">Suggested category:
                <a class="text-success"
                    href="{% url 'products' %}?category={{ random_category.name }}">{{ random_category.friendly_name }}
                </a>
            </p>
            {% endif %}
        </div>
        <!-- Sorting Button -->
        <div class="col text-right ml-auto">
            <div class="dropdown">
                <button class="btn btn-sm btn-outline-success text-uppercase dropdown-toggle" type="button"
                    id="sortDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by
                </button>
                <div class="dropdown-menu" aria-labelledby="sortDropdownMenuButton">
                    <a class="dropdown-item{% if request.GET.sort == 'price' and request.GET.direction == 'asc' %} selected{% endif %}"
                        href="{% url 'products' %}?sort=price&direction=asc">Price (low to high)</a>
                    <a class="dropdown-item{% if request.GET.sort == 'price' and request.GET.direction == 'desc' %} selected{% endif %}"
                        href="{% url 'products' %}?sort=price&direction=desc">Price (high to low)</a>
                    <a class="dropdown-item{% if request.GET.sort == 'category' and request.GET.direction == 'asc' %} selected{% endif %}"
                        href="{% url 'products' %}?sort=category&direction=asc">Category (A-Z)</a>
                    <a class="dropdown-item{% if request.GET.sort == 'category' and request.GET.direction == 'desc' %} selected{% endif %}"
                        href="{% url 'products' %}?sort=category&direction=desc">Category (Z-A)</a>
                    <a class="dropdown-item{% if request.GET.sort == 'rating' and request.GET.direction == 'asc' %} selected{% endif %}"
                        href="{% url 'products' %}?sort=rating&direction=asc">Rating (low to high)</a>
                    <a class="dropdown-item{% if request.GET.sort == 'rating' and request.GET.direction == 'desc' %} selected{% endif %}"
                        href="{% url 'products' %}?sort=rating&direction=desc">Rating (high to low)</a>
                    <a class="dropdown-item{% if request.GET.sort == 'name' and request.GET.direction == 'asc' %} selected{% endif %}"
                        href="{% url 'products' %}?sort=name&direction=asc">Name (A-Z)</a>
                    <a class="dropdown-item{% if request.GET.sort == 'name' and request.GET.direction == 'desc' %} selected{% endif %}"
                        href="{% url 'products' %}?sort=name&direction=desc">Name (Z-A)</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Products container -->
<div class="container-fluid" id="shop-container">
    <div class="row">
        <div class="col text-center mt-5">
            <h2>Products</h2>
            <br class="mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1 mb-5">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-5 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ product.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted"
                                            href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}

                                    {% if product.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                                        5</small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <br>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <br>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <br>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <br>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}