{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h2 class="mb-4 text-center">Thank You</h2>
            <br>
            <h3 class="text-center">Your support ticket has been submitted.</h3>
            <p class="text-center">Your request has been received and our team is now reviewing it. We appreciate your
                patience and understanding as we work to provide you with a timely and effective response. We will be in
                touch shortly with an update on your ticket.</p>
        </div>
    </div>
</div>
{% endblock %}